* {
	font-size: 20px;
}

#head {
	width: 100%;
	text-align: center;
}

#head * {
	display: inline;
	margin: auto;
}

#score {
	position: absolute;
	left: 0px;
}

#hearts img {
	width: 20px;
	height: 20px;
}

#pause {
	position: absolute;
	right: 0px;
}