#menu {
	height:100%;
	width:100%;
}

#header {
	text-align:center;
	display:block;
}

#header #titleText h1 {
	font-family:Courier;
	color:cyan;
}

#header #titleText #gameoverTitle {
	color:red;
}

#content {
	display:block;
}

#content ul li {
	list-style:none;
}

#content ul li a {
	background-color:cyan;
	display:block;
	text-decoration:none;
	color:black;
	font-weight:bold;
}

#content ul li a:active {
	background-color:white;
}

#navigationMain {
	text-align:center;
}

#navigationPlay {
	text-align:center;
}

#navigationPlay .chooserLink {
	display:inline-block;
}

#navigationPlay .chooserLink .selected {
	background:white;
}

#navigationPlay .menuLink {
	display:inline-block;
}

#navigationHighscores {
	text-align:center;
}

#navigationHighscores #tabs li {
	font-weight:bold;
}

#navigationGameover {
	text-align:center;
}

#navigationGameover ul li a {
	background:red;
	color:white;
}

#back {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#pauseOverlay {
	display: none;
	z-index: 2;
	background: rgb(37, 37, 37);
	background: rgba(37, 37, 37, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}