#wrapper {
	width:720px;
	margin:40px auto 0;
}

#wrapper a {
	display:block;
	font-size:1.2em;
	padding-top:20px;
	text-decoration:none;
	text-align:center;
}

#tabs {
	overflow:hidden;
}

#tabs > ul {
	font: 1em;
	list-style:none;
}

#tabs > ul > li {
	display:block;
	float:left;
	color:black;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	/*
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	*/
	background: cyan;
}

#tabs > ul > li.tabActiveHeader {
	background: #FFFFFF;
	cursor:pointer;
}

#tabscontent {
	background: #FFFFFF;
	margin:0;
}

.tabpage p {
	color:black;
}